@import "tailwindcss";

/* Content container */
.content-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* Banner paragraph */
p.banner-description {
  max-width: 42rem;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}